/* overall styles */

html * {
  font-family: "Libre Baskerville", serif;
}

body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 1;
  text-transform: uppercase;
  /* letter-spacing: -0.01em; */
  color: var(--blue);
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-top: 10px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  margin-top: 10px;
}

h4 {
  font-weight: normal;
}

:root {
  --blue: #627c8d;
  --skyblue: #b7e1f2;
  --gray-blue: #dde6ed;
  --red: #a73838;
  --green: #739c7e;
  --mediumgreen: #577560;
  --darkgreen: #28362b;
  --white: #f2f2f2;
  --gray: #c0bfbf;
  --gray-dark: #747474;
  --dark: #272626;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.emphasis_p {
  font-family: "Libre Baskerville", serif;
  text-align: left;
  margin-bottom: 20px;
  color: var(--blue);
  padding-top: 2%;
  padding-bottom: 0;
  font-weight: 700;
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  padding: 10px 0;
}
.credit {
  font-family: "Libre Baskerville", Times, serif;
  font-style: italic;
  text-align: right;
  font-size: 14px;
  position: relative;
}

.responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
}

a {
  color: var(--blue);
}

/* wide sections */
.section_wide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: justify;
  padding: 50px;
  height: fit-content;
  column-gap: 5vw;
}
.content_wide {
  grid-column: 1/4;
  height: 100%;
}
.content_wide p {
  text-align: justify;
}

.image_box_sm {
  grid-column: 4/6;
  height: 75dvh;
}

/* narrow sections */
.section_narrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  padding: 50px;
  height: fit-content;
  column-gap: 5vw;
}

.content_narrow {
  grid-column: 1/2;
  height: 100%;
}
.content_narrow p {
  text-align: justify;
  text-align-last: left;
}
.image_box_med {
  grid-column: 2/3;
  height: 100%;
  width: 100%;
}

/* center sections */
.center_section {
  text-align: center;
  padding: 50px;
  min-height: fit-content;
  display: flex;
  justify-content: center;
}
.content_center {
  width: 60vw;
  text-align: justify;
  text-align-last: left;
}

.content_center h1,
.content_center h2,
.content_center h3 {
  text-align: center;
  text-align-last: center;

}

.content_med {
  grid-column: 1/3;
  height: fit-content;
}
.image_box_lf {
  grid-column: 3/5;
  height: fit-content;
}

/* nav bar */
#navbar {
  left: 0;
  right: 0;
  background-color: var(--blue);
  position: fixed;
  transition: top 0.5s;
  z-index: 0;
  top: 0;
}
.nav-bar ul {
  display: grid;
  color: var(--white);
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 60px;
  padding-inline-start: 0;
  align-content: center;
  align-items: center;
}
.nav-bar li {
  font-family: "Lato", sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.nav-bar a:visited {
  color: var(--white);
}

.nav-bar #Intro {
  grid-column: 1/2;
}
.nav-bar #Welcome {
  grid-column: 2/3;
}
.nav-bar #HousingDisparities {
  grid-column: 3/4;
}
.nav-bar #HousingHistory {
  grid-column: 4/5;
}
.nav-bar #HousingIssuesToday {
  grid-column: 5/6;
}
.nav-bar #SolutionsMenu {
  grid-column: 6/7;
}
.nav-bar #BetterFuture {
  grid-column: 7/8;
}

.nav-bar li span {
  display: inline-block;
  width: 50px;
  transition: all 0.5s;
}

.nav-bar li {
  position: relative;
  overflow: hidden;
  height: 50px;
}

.nav-bar li .hover-image {
  position: absolute;
  right: 40%;
  transition: opacity 0.3s;
  pointer-events: none;
  z-index: 2;
}

.nav-bar li:hover .hover-image {
  opacity: 0;
}

.nav-bar li a {
  font-family: "Lato", sans-serif;
  position: relative;
  top: 25%;
  text-decoration: none;
  z-index: 1;
  opacity: 0;
}

.nav-bar li:hover a {
  opacity: 1;
  color: var(--white);
}

.nav-bar li a::after {
  opacity: 0;
}

.nav-bar li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

/* blank spaces */
.blank {
  height: 15vh;
  width: 100%;
}
.blank_sm {
  height: 10vh;
  width: 100%;
}

/* Introduction */
#cover {
  top: 5vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.theme_img img {
  position: absolute;
  max-height: 70vh;
  max-width: 30vw;
}
#hand {
  z-index: 3;
}
#house {
  z-index: 2;
}
#bg {
  z-index: 1;
}
#intro_crdt {
  bottom: -70%;
}

/* Living in Richmond is not the same for everyone */
#restrictive_cov {
  max-width: 70%;
  position: relative;
  left: 5vw;
  padding: 10px;
  border: solid var(--dark);
}
#cov_crdt {
  max-width: 85%;
}
#cov_txt {
  max-width: 70%;
  position: relative;
  left: 5vw;
  color: var(--blue);
}
#wvb {
  background-color: var(--gray);
}

/* Redlining */
#redlining {
  height: fit-content;
}
#redline_quote_div {
  width: 65%;
  position: relative;
  left: 17.5%;
}
#redline_quote {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
}
#redline {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Eviction */
.evc_section_narrow {
  display: grid;
  grid-template-columns: 3fr 1fr;
  text-align: justify;
  padding: 50px;
  height: fit-content;
  column-gap: 5vw;
}

/* .evccontent_narrow {
  grid-column: 1/2;
  height: 100%;
}
.content_narrow p {
  text-align: justify;
}
.image_box_med {
  grid-column: 2/3;
  height: 100%;
  width: 100%;
} */


/* How did we get here? Let's Go Back in Time */
#history h1 {
  text-align: center;
}
#history_roth {
  height: fit-content;
  padding-top: 0;
  margin: 0;
}
#history_timepoints {
  width: 75%;
  position: relative;
  left: 20%;
}

/* Test */

#next_steps{
  height:960px;
}

#background {
  z-index: 1;
  position: absolute;
  height: 960px;
}

#ns_image_box {
  position: relative;
  display: flex;
  justify-content: center;
}

.curtain {
  position: absolute;
  z-index: 3;
  height: 158px;
  top: -2px;
  transition: top 0.3s ease-in-out;
}

.window:hover .curtain {
  top: -160px;
  transition: top 0.3s ease-in-out;
}
.window {
  position: absolute;
  z-index: 4;
  height: 166px;
  width: 126px;
  display:flex;
  align-items:flex-start;
  justify-content: center;
  /* border: black solid; */
  overflow: hidden;
}

#w1{
  top:428px;
  left:-244px;
}

#w2{
  top:428px;
  left:-64px;
}

#w3{
  top:428px;
  left:115px;
}

#w4{
  top:685px;
  left:-244px;
}

#w5{
  top:685px;
  left:-62.5px;
}

.decor{
  position:absolute;
  z-index:5;
  height:52px;
}
#d1{
  top:549px;
  left:-262px;
}
#d2{
  top:549px;
  left:-78px;
}

#d3{
  top:549px;
  left:100px;
}

#d4{
  top:806px;
  left:-262px;
}

#d5{
  top:806px;
  left:-78px;
}

#decor1{
  position:absolute;
  z-index:5;
  height:30px;
  top:316px;
  left:-136px;
}

/* popup */
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  height: fit-content;
  top: 50%;
  margin-top: -100px;
  background: var(--white);
  border: 3px solid var(--blue);
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

button {
    background-color: var(--white);
    color:var(--gray-dark);
    border:none;
    font-size: 14px;
    width:134px;
    height:170px;
    line-height:1.5;
    
}

button:hover {
    background-color: var(--gray-blue);
    color:var(--dark);
    /* border: 3px solid var(--skyblue); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

/* footer */
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--gray-blue);
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
}
